<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <form action="<%= session_url %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" >
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="submit" value="Log out!">
  </form>

  <% else %>
  <%= link_to 'log in', new_session_url %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <li>
      <%= err %>
    </li>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
